<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Burgers</h1>
        <p class="lead">Come and get your burgers!</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2 class="header">Burgers To Eat:</h2>
            {{#each burgers}}
            {{#unless this.devoured}}
            <form action="/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="true">
                <div class="form-group">
                    <ul>
                        <li>
                            
                            <button data-id="{{this.id}}"type="submit" id = "burgerbtn" class="btn btn-warning">{{this.burger_name}}</button>
                        </li>
                    </ul>
                </div>
            </form>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-lg-4 text-center">
            <form action="/" method="POST">
                <div class="form-group">
                    <input type="text" name="burger_name" class="form-control text-center" maxlength="50"
                        placeholder="Enter Burger Name">
                    <br>
                    <button type="submit" class="btn btn-primary">Add burger</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4">
            <h2 class="header">Burgers Devoured</h2>
            {{#each burgers}}
            {{#if this.devoured}}
        
            <input type="hidden" name="devoured" value="false">
                <div class="form-group">
                <ul>
                    <li>
                        
                        <button disabled class="btn btn-danger">{{this.burger_name}}</button>
                    </li>
                </ul>
            </div>
        
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<script type="text/javascript">
  $("#burgerbtn").on("click", function(event) {
    var id = $(this).data("id");
    //console.log(id)
     var updateState = {
      devoured: 1
    };

    // Send the DELETE request.
    $.ajax("/" + id, {
      type: "PUT",
      data: updateState
    }).then(
      function() {
       //console.log("changed state to ", updateState);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".btn btn-primary").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

     var newBurger = {
      burger_name: $("#ca").val().trim(),
      devoured: $(".btn btn-primary [name=devoured]").val().trim()
    };

    // Send the POST request.
    $.ajax("/", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("added new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

</script>